<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.webatch.mapping.TmCardInfoMapper">
	<resultMap id="BaseResultMap" type="com.test.webatch.domain.TmCardInfo" >
		<id column="ID" property="id" jdbcType="INTEGER"/>
		<result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR" />
		<result column="CURR_BAL" property="currBal" jdbcType="DECIMAL" />
		<result column="CARD_STATUS" property="cardStatus" jdbcType="INTEGER" />
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
		<result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="TM_CARD_INFO_TABLE_FIELD">ID,PRODUCT_NAME,CURR_BAL,CARD_STATUS,CREATE_DATE,UPDATE_DATE</sql>

	<delete id="deleteByPrimaryKey" parameterType="map" >
		delete from TM_CARD_INFO
		where 
		ID = #{id, jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.test.webatch.domain.TmCardInfo" >
		insert into TM_CARD_INFO ( <include refid="TM_CARD_INFO_TABLE_FIELD" /> )
		values (  #{id,jdbcType=INTEGER } , #{productName,jdbcType=VARCHAR } , #{currBal,jdbcType=DECIMAL } ,
			 #{cardStatus,jdbcType=INTEGER },#{createDate,jdbcType=TIMESTAMP } , #{updateDate,jdbcType=TIMESTAMP } 
	)
	</insert>
	<update id="updateNotNullByPrimaryKey" parameterType="com.test.webatch.domain.TmCardInfo">
		update TM_CARD_INFO 
		<trim prefix="set" suffixOverrides=","> 
		<if test="productName != null and productName != ''  " >
			PRODUCT_NAME =#{productName,jdbcType=VARCHAR },
		</if>
		<if test="currBal != null " >
			CURR_BAL =#{currBal,jdbcType=DECIMAL },
		</if>
		<if test="cardStatus != null " >
			CARD_STATUS =#{cardStatus,jdbcType=INTEGER },
		</if>
		<if test="updateDate != null and updateDate != ''  " >
			UPDATE_DATE =#{updateDate,jdbcType=TIMESTAMP },
		</if>
		</trim>
		where 
		ID = #{id, jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.test.webatch.domain.TmCardInfo">
		update TM_CARD_INFO 
		<trim prefix="set" suffixOverrides=","> 
			PRODUCT_NAME =#{productName,jdbcType=VARCHAR },		
			CURR_BAL =#{currBal,jdbcType=DECIMAL },		
			CARD_STATUS =#{cardStatus,jdbcType=INTEGER },
			UPDATE_DATE =#{updateDate,jdbcType=TIMESTAMP },		
		</trim>
		where 
		ID = #{id, jdbcType=INTEGER}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
		select	<include refid="TM_CARD_INFO_TABLE_FIELD" />		
		from TM_CARD_INFO
		where 
		ID = #{id, jdbcType=INTEGER}
	</select>
	<select id="selectAll" resultMap="BaseResultMap" parameterType="map" >
		select <include refid="TM_CARD_INFO_TABLE_FIELD" />		
 		from TM_CARD_INFO
		where 1=1 
		<if test="id != null " >
			and ID = #{id,jdbcType=INTEGER }
		</if>
		<if test="productName != null and productName != ''  " >
			and PRODUCT_NAME = #{productName,jdbcType=VARCHAR }
		</if>
		<if test="currBal != null " >
			and CURR_BAL = #{currBal,jdbcType=DECIMAL }
		</if>
		<if test="createDate != null and createDate != ''  " >
			and CREATE_DATE = #{createDate,jdbcType=TIMESTAMP }
		</if>
		<if test="updateDate != null and updateDate != ''  " >
			and UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP }
		</if>

		<if test="_SORT_NAME != null and _SORT_NAME != ''  " >
			<if test="_SORT_ORDER != null and _SORT_ORDER != ''  " >
				order by ${_SORT_NAME} ${_SORT_ORDER} 
			</if>
		</if>

	</select>	
	<select id="loadKeyList" resultType="long" parameterType="map" >
		select  ID 		
 		from TM_CARD_INFO
		where 1=1 
		<if test="id != null " >
			and ID = #{id,jdbcType=INTEGER }
		</if>
		<if test="productName != null and productName != ''  " >
			and PRODUCT_NAME = #{productName,jdbcType=VARCHAR }
		</if>
		<if test="currBal != null " >
			and CURR_BAL = #{currBal,jdbcType=DECIMAL }
		</if>
		<if test="createDate != null and createDate != ''  " >
			and CREATE_DATE = #{createDate,jdbcType=TIMESTAMP }
		</if>
		<if test="updateDate != null and updateDate != ''  " >
			and UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP }
		</if>

		<if test="_SORT_NAME != null and _SORT_NAME != ''  " >
			<if test="_SORT_ORDER != null and _SORT_ORDER != ''  " >
				order by ${_SORT_NAME} ${_SORT_ORDER} 
			</if>
		</if>

	</select>	
	<select id="loadKeyStrList" resultType="String" parameterType="map" >
		select  ID 		
 		from TM_CARD_INFO
		where 1=1 
		<if test="id != null " >
			and ID = #{id,jdbcType=INTEGER }
		</if>
		<if test="productName != null and productName != ''  " >
			and PRODUCT_NAME = #{productName,jdbcType=VARCHAR }
		</if>
		<if test="currBal != null " >
			and CURR_BAL = #{currBal,jdbcType=DECIMAL }
		</if>
		<if test="createDate != null and createDate != ''  " >
			and CREATE_DATE = #{createDate,jdbcType=TIMESTAMP }
		</if>
		<if test="updateDate != null and updateDate != ''  " >
			and UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP }
		</if>

		<if test="_SORT_NAME != null and _SORT_NAME != ''  " >
			<if test="_SORT_ORDER != null and _SORT_ORDER != ''  " >
				order by ${_SORT_NAME} ${_SORT_ORDER} 
			</if>
		</if>

	</select>
</mapper>